{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="{% url 'index' %}">HOME</a>
            </li>
            
            {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'tasks' %}">TASKS</a>
                </li>
                <li>
                    <a href="{% url 'projects' %}">PROJECTS</a>
                </li>
                <li>
                    <a href="{% url 'logout' %}">LOGOUT</a>
                </li>
                <li>
                    <a href="{% url 'create-project' %}">NEW PROJECT</a>
                </li>
                <li>
                    <a href="{% url 'create-task' %}">NEW TASK</a>
                </li>
            {% else %}
                <li>
                    <a href="{% url 'signup' %}">SIGN UP</a>
                </li>
                <li>
                    <a href="{% url 'login' %}">LOGIN</a>
                </li>
            
            {% endif %}
            
        </ul>
    </nav>
    

    <div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>