{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks</title>
</head>

<body>

    <main>

        <h1 class="display-3 text-center">Tasks</h1>

        {% if filter == "All" %}

        <h4 class="alert alert-success text-center" role="alert">Showing all Tasks</h2>

            {% else %}

            {% if filter == "True" %}

            <h4 class="alert alert-success text-center" role="alert"> Showing tasks Completed </h2>

                {% elif filter == "False" %}

                <h4 class="alert alert-success text-center" role="alert"> Showing tasks Pending </h2>

                    {% endif %}

                    {% endif %}

                    <form method="POST">
                        {% csrf_token %}

                        <select class="btn btn-outline-secondary dropdown-toggle" name="filterby">
                            <option value="">
                                All
                            </option>
                            <option value=True>
                                Completed
                            </option>
                            <option value=False>
                                Pending
                            </option>
                        </select>

                        <button class="btn btn-outline-secondary"> Filter </button>

                    </form>

                    {% if tasks %}
                    <ul>
                        {% for task in tasks %}
                        <li>
                            <card>
                                <a href="{% url 'task-detail' task.id %}">{{task.task_name}}</a>
                                <p>{{task.task_description}}</p>
                                {% if task.task_isDone == True %}

                                <h3>Task Completed</h3>

                                {% elif task.task_isDone == False %}

                                <h3>Task Pending</h3>

                                {% endif %}

                                <form action="{% url 'task-complete' task.id %}" , method="POST">
                                    {% csrf_token %}
                                    <button>Complete</button>
                                </form>

                                <form action="{% url 'task-delete' task.id %}" , method="POST">
                                    {% csrf_token %}
                                    <button>Delete</button>
                                </form>

                            </card>
                        </li>



                        {% endfor %}
                    </ul>
                    {% else %}

                    <div class="container py-5">
                        <h2 class="alert alert-warning d-flex  justify-content-center" role="alert">0 Tasks :D</h2>
                    </div>


                    {% endif %}

    </main>



    {% endblock %}
</body>

</html>