{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
</head>
<body>
    
    

    <h1 class="display-3 text-center">Projects</h1>


    <div class="d-flex p-2 justify-content-center">
    {% if projects %}
    <ul class="list-group " style="width: 20rem;">
        {% for project in projects %}

        
        <li class="list-group-item bg-primary-subtle" >

            <div style="width: 18rem;">
                <div class="card-body">
                  <a class="card-title text-success" href="{% url 'project-detail' project.id %}">{{project.project_name}}</a>
                  <h6 class="card-subtitle mb-2 text-">description</h6>
                  <p class="card-text text-success-emphasis">{{project.project_description}}</p>
                </div>

                <button class="btn btn-outline-success btn-sm d-flex justify-content-right" style="float:right; margin: right 0;" action="{% url 'project-delete' project.id %}"> 
                
                    Delete

                </button>

              </div>
        </li>
        {% endfor %}
    </ul>
    {% else %}

        <h2>0 Projects :D</h2>

    {% endif %}
    </div>

    {% endblock %}
</body>
</html>